body {
    background-image: url(images/background.jpg);
    margin: 0;

}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    font-family: poppins;
    align-items: center;
}

li {
    font-weight: 500;
    list-style-type: none;
    margin: 0 1em;
}





a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2f58ae;
    border-bottom: solid;
}

form.search {
    margin-right: 3em;
    display: flex;
    min-width: 20em;
    width: 40%;
}

form.search input {
    height: 2em;
    width: 100%;
    padding: 1em;
}

button {
    width: 4.5em;
    height: 4.5em;
    color: white;
    background-color: black;
    border: none;
    display: inline-block;
}

.searchbutton {
    width: 4em;
    height: 4.4em;
    border-radius: 0;
}

.logo {
    width: 7em;
    margin: 0;
}

.longpic {
    position: relative;
    text-align: center;
    color: white;

}

.longpicimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20em;
}

.imglong {
    width: 100%;
    max-width: 61em;
}

.longbutton {
    position: absolute;
    margin-top: 2em;
    top: 70%;
    left: 50%;
    color: white;
    background-color: #5d80b7;
    width: 10em;
    transform: translate(-50%, -50%);
    font-weight: bold;
    border-radius: 0.5em;
}

.column1 {
    display: inline-block;
    width: 30em;
    background-color: white;
    margin-bottom: 1em;
    margin-top: 1em;




}

.column2 {

    display: inline-block;
    width: 30em;
    background-color: white;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;

}



.container {
    text-align: center;
}

button {
    margin-bottom: 2em;
    width: 5em;
    height: 3em;
    border-radius: 0.5em;
    background-color: #5d80b7;
}

.longpic2 {
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    width: 100%;
}

footer {
    width: 100%;
    height: 10em;
    margin: 0 auto;
    margin-top: 2em;
    background: #333333;
}

footer ul {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    color: white;
    height: 4em;
}

footer .copyright {
    margin: 0 auto;
    display: block;
    text-align: center;
    color: white;
    font-size: 0.7em;
    font-family: 'poppins';
    font-weight: bold;
    margin-top: 2em;

}

footer ul li {
    height: 2em;
    padding: 1em;
    transition: all .3s;
    display: flex;
    align-items: center;
    margin-top: 1em;

}

footer ul li:hover {
    background: #282828;
}




.bottomtext {
    display: block;
    margin: 0 auto;
    width: 40em;
    margin-top: -1.4em;
    padding-top: 1em;
    text-align: left;
    padding-right: 10.6em;
    padding-left: 10.6em;
    padding-bottom: 3.5em;
    background-color: white;



}

.buttonlong2 {
    float: right;
}


.formhold {
    margin: 0 auto;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 2em;
    color: white;
    width: 60em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
    height: 23em;


}

.formhold input {
    width: 15em;
    height: 3em;
    grid-column: 1 / 3;
    margin: 0 auto;
    padding-left: 1em;
    border-radius: 0.5em;
    font-size: inherit;
    border: none;

}

.formhold label {
    display: none;
}

.logintitle {
    text-align: center;
    grid-column: 1 / 3;

}

.bodylogin {
    background-image: url(images/loginbg.jpg);
}

.register {
    text-align: center;
    grid-column: 1 / 3;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.4em;
    height: 5em;



}

.register:hover {

    border: none;
    color: white;

}

.loginbutton {
    text-align: center;
    grid-column: 1 / 3;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
    width: 20em;
    border: solid white;
}

.logintitle {
    font-family: 'Poppins', sans-serif;

}

.loginbutton:hover {
    background-color: black;
    transition-duration: 1s;
}

//.likebutton {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 2em;
    display: inline-block;
    margin-bottom: 2em;
    float: right;
    margin-right: 2em;   
}

.likebutton {
    background-image: url(images/likebutton.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3em;
    height: 3em;
    float: right;
    margin-right: 0.625em;
    background-color: white;
}

.likebuttonnew {
    background-image: url(images/likebutton2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3em;
    height: 3em;
    float: right;
    margin-right: 0.625em;
    background-color: white;
}

.likebutton:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -webkit-animation:2s;
  -moz-animation:none;
  -ms-animation:'';
  -o-animation:'';
  animation:'';
}

}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.formhold:invalid {
  background: rgba(255,0,0,.1);
  /background: rgba(255,255,0,.8);;
}

.formhold:valid {
  background-color: forestgreen
}

.formhold:invalid .loginbutton{
  display:none;
}




@media screen and (max-width: 70em) {
    .bottomtext {
        width: 11em;
        padding-left: 10em;
        padding-right: 10em;
        height: 27em;
    }

    .formhold {
        width: 30em;

    }




@media screen and (max-width: 50em) {
    .column2,
    .column2pic,
    .column1,
    .column1pic {
        width: 15em;
    }

    .imglong {
        content: url(images/longpic2.jpg);

    }
    
        form.search {
        display: block;
        width:6em;
        margin: 0 auto;
    }
    
    .searchbutton{
        width: 108%;
        border: 2em;
    }
}

@media screen and (max-width: 40em) {
    .column2 {
        padding-top: 1em;
    }